@model BlogPageMvc.Models.Controller.ControllerActionVM

@{
    ViewData["Title"] = "AddAction";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h1>Metot Ekle</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddAction" asp-route-ControllerId="@ViewBag.ControllerId" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ActionName" class="control-label"></label>
                    <input asp-for="ActionName" class="form-control" />
                    <input asp-for="ControllerId" type="hidden" class="form-control" />
                    <span asp-validation-for="ActionName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Oluştur" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>


</div>

