@model BlogPageMvc.Models.Controller.ControllerVM

@{
    ViewData["Title"] = "ControllerDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">

    <h1>Action Listesi</h1>

    <p>
        <a asp-action="AddAction" asp-route-ControllerId="@Model.Id">Action Ekle</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Action Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ControllerActions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActionName)
                    </td>
                    <td>
                        @Html.ActionLink("Update", "UpdateAction", new { controllername = item.ActionName }) |
                        @Html.ActionLink("Delete", "DeleteAction", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
