@model BlogPageMvc.Models.Role.RoleVM

@{
    ViewData["Title"] = "DeleteRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <h1>Role Sil</h1>

    <h3>Silmek istediğine emin misin?</h3>
    <div>
        <h4>RoleVM</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RoleName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RoleName)
            </dd>
        </dl>

        <form>
            <button type="submit"  class="btn btn-danger"  asp-action="DeleteRoleId" asp-route-id="@Model.Id">Sil</button>
            <a asp-action="GetAllRoles">Back to List</a>
        </form>
    </div>

</div>
