@model List<BlogPageMvc.Models.Post.PostVM>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Featured blog post-->
@foreach (var item in Model)
{
    <div class="card mb-4">
        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
        <div class="card-body">
            <div class="small text-muted">@item.CreatedDate</div>
            <h2 class="card-title">@item.Title</h2>
            <p class="card-text">@item.Description.Substring(0,item.Description.Length>15?15:item.Description.Length)</p>
            <a class="btn btn-primary" asp-controller="blog" asp-action="detail" asp-route-title="@item.Title">Read more →</a>
        </div>
    </div>
}


<!-- Nested row for non-featured blog posts-->
